@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

* {
  font-family: Roboto-Regular;
}
.attribution {
  font-size: 16px;
  text-align: center;
  background-color: hsl(0, 0%, 100%)
  height: fit-content;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.form--container {
  display: flex;
  /* border: 1px solid black; */
  margin: 2% auto 0 auto;
  width: min-content;
  border-radius: 2rem;
  background-color: #fff;
}

.form--container form {
  padding: 2rem;
  font-size: large;
  line-height: 1.75rem;
}

body {
  background-color: hsl(235, 18%, 26%);
}

.form--container form li::marker {
  background-color: #000;
}
.form--container form ul > li {
  list-style: url(./assets/images/icon-list.svg);
}
label[for="email"] {
  font-family: Roboto-Bold;
}

input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(167, 165, 165);
}
input[type="submit"] {
  text-align: center;
  padding: 20px;
  border: none;
  outline: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(235, 18%, 26%);
  border-radius: 0.5rem;
}

input[type="submit"]:hover {
  cursor: pointer;
  background-color: hsl(4, 100%, 67%);
  transform: scale(1.02);
  transition: all 0.15 ease-in-out;
}
.email--submit {
  display: flex;
  flex-direction: column;
}

.form--wrapper {
  padding: 20px;
  display: flex;
}
