@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Regular;
  src: url(./assets/fonts/Roboto-Regular.ttf);
}

* {
  font-family: Roboto-Regular;
}
.attribution {
  font-size: 16px;
  margin-top: 2px;
  padding-top: 2rem;
  background-color: hsl(0, 0%, 100%);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.form--container {
  display: flex;
  /* border: 1px solid black; */
  margin: 2% auto 0 auto;
  width: min-content;
  border-radius: 2rem;
  background-color: #fff;
}

.form--container form {
  padding: 2rem;
  font-size: large;
  line-height: 1.75rem;
}

body {
  background-color: hsl(235, 18%, 26%);
}

.form--container form li::marker {
  background-color: #000;
}
.form--container form ul > li {
  list-style: url(./assets/images/icon-list.svg);
}
label[for="email"] {
  font-family: Roboto-Bold;
}
.email--message {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgb(167, 165, 165);
  transition: border 1.5s ease-in-out;
  outline: none;
}
input[type="email"]:invalid {
  border: 1px solid hsl(4, 100%, 67%);
  background-color: hsl(4, 50%, 44%);
  color: hsl(0, 0%, 100%);
  transition: background-color 0.15s ease-in-out;
  outline: none;
  border: none;
  opacity: 0.8;
}
.btn {
  text-align: center;
  padding: 20px;
  border: none;
  outline: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(235, 18%, 26%);
  border-radius: 0.5rem;
}

.btn:hover {
  cursor: pointer;
  background-color: hsl(4, 100%, 67%);
  transform: scale(1.02);
  transition: all 0.15 ease-in-out;
}
.email--submit {
  display: flex;
  flex-direction: column;
}

.invalid-message {
  display: none;
  color: hsl(4, 100%, 67%);
}

.form--wrapper {
  padding: 20px;
  display: flex;
}
.success {
  display: flex;
  flex-direction: column;
}
.success--wrapper {
  display: flex;
  margin: 2% auto 0 auto;
  width: 50%;
  line-height: 2.5rem;
  border-radius: 2rem;
  padding: 20px;
  background-color: #fff;
}

.success img {
  width: min-content;
}

#success-form {
  display: none;
}

#your--mail {
  font-weight: 700;
}
